/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Contenedor del carrusel */
.carrusel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Contenedor interno que alberga las imágenes */
.carrusel-container {
    display: flex;
    width: 200%; /* Esto asegura que el contenedor pueda albergar las imágenes duplicadas */
    animation: desplazamientoInfinito 60s linear infinite; /* Ajusta la duración según tu preferencia */
}

/* Imágenes dentro del carrusel */
.carrusel-container img {
    width: calc(100% / 3); /* Divide el ancho total entre el número de imágenes (en este caso 3) */
    flex-shrink: 0;
    object-fit: cover;
}

/* Animación para el desplazamiento continuo */
@keyframes desplazamientoInfinito {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); /* Mueve el carrusel a la mitad, mostrando las imágenes duplicadas */
    }
}
